.row
  = semantic_form_for(section, :url => cms_section_path(section)) do |f|
    - f.semantic_errors
    = f.inputs :name => t('cms.section.title') do
      = f.input :name
      = f.input :alias
      = f.input :content
    = f.actions do
      = f.action :submit, :as => :button, :label => t('cms.section.save'),
        :button_html => { class: 'btn btn-primary' }
.row.margin-top-1
