.row
  .col-md-10.col-md-offset-1
    %h3
      = t 'cms.template.edit'
    .row
      .col-md-8.col-md-offset-2
        = semantic_form_for(@template, :url => cms_template_path()) do |f|
          - f.semantic_errors
          = f.inputs :name => t('cms.template.title', page: @template.page.name) do
            -# = f.input :page, :member_label => :name, :as => :select, :hint => t('cms.template.page_hint')
            = f.input :page_id, :as => :hidden 
            = f.input :content, :input_html => { id: 'template_content'}
            #ace_content.well
          = f.actions do
            = f.action :submit, :as => :button, :label => t('cms.template.save'), 
                :button_html => { id: 'ace_save', class: 'btn btn-primary' }
