.row
  .col-md-10.col-md-offset-1
    %h3 
      = t 'cms.templates.add'
    .row
      .col-md-6.col-md-offset-3
        = semantic_form_for(@template, :url => cms_templates_path) do |f|
          - f.semantic_errors
          = f.inputs :name => t('cms.templates.title') do
            = f.input :page, :member_label => :name, :as => :select, :input_html => { :readonly => true }
            = f.input :content
          = f.actions do
            = f.action :submit, :as => :button, :label => t('cms.templates.save'), :button_html => { class: 'btn btn-primary' }
