.row
  .col-md-10.col-md-offset-1
    %h3
      = t 'cms.page.sections_page', page: @page.name
    .row
      .panel#sections_container
        .tabbable.tabs-left.clearfix
          %ul#sections_tab.nav.nav-tabs
            - @sections.each_with_index do |section, i|
              %li{ class: (i == 0) ? 'active' : '' }
                %a{ :href => '#' + section.alias, 'data-toggle' => 'tab' }
                  = section.name
          .tab-content
            - @sections.each_with_index do |section, i|
              .tab-pane.fade{ id: section.alias, class: (i == 0) ? 'active in' : '' }
                .col-md-8.col-md-offset-1.section-tab
                  .status.alert.alert-success{style: 'display: none'}= t 'cms.page.section_save_success'
                  .status.alert.alert-danger{style: 'display: none'}= t 'cms.page.section_save_failure'
                  = render 'cms/sections/edit_form', :section => section
