<!DOCTYPE html>
<html>
<head>
  <title>Seleya</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="alert alert-warning"><%= notice %></p>
<p class="alert alert-danger"><%= alert %></p>

<div class="row">
	<div class="col-md-6">
		<div class="alert alert-success">It Works !</div>
	</div>
</div>
<%= yield %>

</body>
</html>
